@import '../../assets//styles/color.variables.scss';
@import '../../assets//styles/fonts.scss';
@import '../../assets//styles/null.scss';

.root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  width: 630px;
  background: #fffffe;

margin-top: auto;
  max-height: 666px;
  border-radius: 40px;
  border: 1px solid #02193a;
  padding: 80px;
  gap: 50px;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.descriptionBlock {
  display: flex;
  flex-direction: column;
}

.descriptionBlockTop {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 149%;
width: 100%;
  background: rgba(56, 75, 255, 0.05);
  padding: 4px 10px;
  border-radius: 10px;
justify-content: center;
  display: flex;
  align-items: center;
  color: rgba(56, 75, 255, 1);

  img {
    margin-right: 5px;
  }
  a {
    color: rgba(56, 75, 255, 1);
    text-decoration: underline;
  }
}
.descriptionBlockMedium {
  align-items: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textMutation {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 149%;
  color: #353e49;
}

.descriptionBlockTargetUrl {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 17px 10px;
  border: #e2e2e5 solid 1px;
  width: 100%;
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.05), 12px 8px 14px 0px rgba(0, 0, 0, 0.04),
    27px 18px 19px 0px rgba(0, 0, 0, 0.03), 47px 32px 23px 0px rgba(0, 0, 0, 0.01),
    74px 50px 25px 0px rgba(0, 0, 0, 0);
}

.variableTargetUrl {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 149%;
  color: #222222;
}

.descriptionBlockBottom {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 149%;
  color: #353E49;
}

.buttonBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttonDownload {
  background: $colors-accent;
  display: flex;
  width: 240px;
  height: 52px;

  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 149%;
  color: #fff;
  border-radius: 10px;
  img {
    margin-right: 10px;
  }
  &:hover {
    background: $primary-hover;
  }
}

.variable {
  font-weight: 600;
}

@import './adaptive.scss';
