@media (max-width: 1200px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .footer {
   flex-direction: column;
  }
}
@media (max-width: 450px) {
  .footerLinks {
a{
  margin-left: 20px;
}
  }
}