// dark_mode
$colors-accent: #384BFF;
$primary-hover: #6A78FF;
$primary-pressed: #1220A6;
$web-bg: #fff;
$content-color: rgba(2, 25, 58, 1);
$pure-white: #fff;
$stroke-color: #1D1D1D;
$delimeter: #C1C6CE;

