@font-face {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../../assets/fonts/roboto-400-normal.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  @font-face {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../../assets/fonts/roboto-500-normal.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  @font-face {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../../assets/fonts/roboto-300-normal.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
